.auth-page-container {
  padding: 0 16px 16px;

  font-size: 16px;
}

.auth-page-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100%;

  background-color: var(--default-spinner-container-background);
  border-radius: 10px;
}

.auth-page__title-wrapper {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.auth-page__button-back {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 16px 16px 16px 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.auth-page__title {
  margin: 32px auto;

  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--header-font-color);
}

.auth-page__form {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  padding: 24px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--default-shadow);
}

.auth-page__logo {
  margin-right: 8px;
}

.auth-page__button {
  height: 46px;

  &--login {
    margin-top: 20px;
  }

  &--google {
    background-color: var(--background);
  }
}

.auth-page__divider {
  position: relative;

  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 10px;


  width: 100%;

  span {
    z-index: 2;

    display: block;
    width: fit-content;
    padding: 8px;

    background-color: var(--white);
  }

  &::after {
    position: absolute;
    top: calc(50% + 1px);
    left: 0;
    z-index: 1;

    width: 100%;
    height: 1px;

    background-color: var(--border-color);
    content: "";
  }
}

@media (min-width: 1366px) {
  .auth-page-container {
    padding: 0 calc(50vw - 1366px / 2 + 16px);
  }
}
