:host {
  position: relative;

  height: 100%;

  .workout-card-list-container__add-workout-button {
    position: fixed;
    right: 28px;
    bottom: 28px;
    z-index: 500;
  }

  .workout-card-list-spinner-container {
    position: absolute;
    top: calc(50vh - 50px - 60px);
    left: calc(50vw - 50px);
    z-index: 499;
  }
}

