.workout-main-info__route {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
  padding: 8px 0;
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 300;
}

.workout-main-info__route::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10px;

  display: block;
  width: 2px;
  height: 100%;

  background-color: var(--border-color);

  content: "";
}

.route__point {
  position: relative;

  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 32px;

  color: var(--header-font-color);
}

.route__point::before {
  position: absolute;
  z-index: 10;
  top: calc(50% - 3px);
  left: 8px;

  display: block;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: var(--icon-color);

  content: "";
}

.route__point-name {
  max-width: 220px;

  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.workout-main-info__dl-inner {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  font-size: 16px;
}

dt {
  display: flex;
  align-items: center;
  margin-right: 8px;

  font-weight: 500;

  color: var(--header-font-color);

  mat-icon {
    margin-right: 8px;
    color: var(--icon-color);
  }
}

dd {
  margin-left: 0;

  font-weight: 300;
}
