<div class="workout-main-info__route route">
  <div class="route__point" *ngFor="let point of workout.routePoints">
    <span class="route__point-name">{{ point }}</span>
  </div>
</div>
<dl>
  <div class="workout-main-info__dl-inner">
    <dt>
      <mat-icon>speed</mat-icon>
      Скорость:
    </dt>
    <dd>{{ workout.speed }} км/ч</dd>
  </div>
  <div class="workout-main-info__dl-inner">
    <dt>
      <mat-icon>moving</mat-icon>
      Дистанция:
    </dt>
    <dd>{{ workout.distance }} км</dd>
  </div>
  <div class="workout-main-info__dl-inner">
    <dt>
      <mat-icon>pedal_bike</mat-icon>
      Велосипед:
    </dt>
    <dd>{{ workout.bikeType }}</dd>
  </div>
</dl>
