.workout-main-info__row {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.workout-card__time {
  font-family: "JetBrains", monospace;
  font-weight: 600;
  font-size: 22px;
  color: var(--header-font-color);
}

.workout-card__type {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 8px;

  font-size: 14px;
  font-weight: 600;
  color: var(--white);

  border: none;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &--rc {
    background-color: var(--recovery);
  }

  &--ed {
    background-color: var(--endurance);
  }

  &--tp {
    background-color: var(--tempo);
  }

  &--tr {
    background-color: var(--trashold);
  }

  &--vo {
    background-color: var(--vo2max);
  }

  &--an {
    background-color: var(--anaerobic);
  }

  &::after {
    position: absolute;
    z-index: 10;

    width: 60px;
    height: 60px;

    content: "";
  }
}

.workout-main-info__route {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
  padding: 8px 0;
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 300;
}

.workout-main-info__route::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10px;

  display: block;
  width: 2px;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.12);

  content: "";
}

.route__point {
  position: relative;

  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 32px;

  color: var(--header-font-color);
}

.route__point::before {
  position: absolute;
  z-index: 10;
  top: calc(50% - 3px);
  left: 8px;

  display: block;
  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: var(--icon-color);

  content: "";
}

.route__point-name {
  max-width: 208px;

  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.workout-main-info__dl-inner {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  font-size: 16px;
}

dt {
  display: flex;
  align-items: center;
  margin-right: 8px;

  font-weight: 500;

  color: var(--header-font-color);

  mat-icon {
    margin-right: 8px;
    color: var(--icon-color);
  }
}

dd {
  margin-left: 0;

  font-weight: 300;
}

@media (min-width: 360px) {
  .workout-card__time {
    font-size: 26px;
  }

  .route__point-name {
    max-width: 248px;
  }
}

@media (min-width: 375px) {
  .route__point-name {
    max-width: 262px;
  }
}

@media (min-width: 768px) {
  .route__point-name {
    max-width: 268px;
  }
}

@media (min-width: 1024px) {
  .route__point-name {
    max-width: 238px;
  }
}

@media (min-width: 1366px) {
  .route__point-name {
    max-width: 248px;
  }
}
