<div class="workout-main-info__row">
  <button
    mat-button
    *ngIf="isShowWorkoutType"
    [matTooltip]="workoutFullType"
    [className]="'workout-card__type ' + workoutTypeCssClass"
    (click)="onPowerZoneBadgeClick()"
  >
    {{ workoutShortType }}
  </button>
  <span class="workout-card__time">{{ workoutDateString }}</span>
</div>
<div class="workout-main-info__route route" *ngIf="!isCardHidden">
  <div class="route__point" *ngFor="let point of workout.routePoints">
    <span class="route__point-name" [matTooltip]="point">{{ point }}</span>
  </div>
</div>
<div class="workout-main-info__textarea">
  <mat-icon>place</mat-icon>
  <span>
    <b>Сбор:</b><span class="workout-main-info__details">{{ workout.venue }}</span>
  </span>
</div>
<dl>
  <div class="workout-main-info__dl-inner" *ngIf="!isSpeedHidden">
    <dt>
      <mat-icon>speed</mat-icon>
      Скорость:
    </dt>
    <dd>{{ workout.speed }} км/ч</dd>
  </div>
  <div class="workout-main-info__dl-inner">
    <dt>
      <mat-icon>moving</mat-icon>
      Дистанция:
    </dt>
    <dd>{{ workout.distance }} км</dd>
  </div>
  <div class="workout-main-info__dl-inner" *ngIf="!isDurationHidden">
    <dt>
      <mat-icon>access_time</mat-icon>
      Длительность:
    </dt>
    <dd>{{ workout.duration }} мин</dd>
  </div>
  <div class="workout-main-info__dl-inner">
    <dt>
      <mat-icon>pedal_bike</mat-icon>
      Велосипед:
    </dt>
    <dd>{{ bikeTypeMap[workout.bikeType] }}</dd>
  </div>
</dl>
<div class="workout-main-info__textarea" *ngIf="isCommentVisible">
  <mat-icon>message</mat-icon>
  <span>
    <b>Комментарий:</b><span class="workout-main-info__details">{{ workout.comment }}</span>
  </span>
</div>
