::ng-deep .workout-card {
  color: var(--font-color);

  .mat-card-header {
    margin-bottom: 24px;
  }

  .mat-card-header .mat-card-title {
    margin-bottom: 0;
  }

  .workout-card__time {
    font-family: "JetBrains", monospace;
    font-weight: 600;
    font-size: 24px;
    color: var(--header-font-color);
  }

  mat-card-title {
    display: flex;
    flex-direction: column;
  }

  .title__row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }

  .workout-card__type {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: 8px;

    font-size: 14px;
    font-weight: 600;
    color: var(--white);

    border: none;
    border-radius: 50%;
    outline: none;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &--rc {
      background-color: var(--recovery);
    }

    &--ed {
      background-color: var(--endurance);
    }

    &--tp {
      background-color: var(--tempo);
    }

    &--tr {
      background-color: var(--trashold);
    }

    &--vo {
      background-color: var(--vo2max);
    }

    &--an {
      background-color: var(--anaerobic);
    }

    &::after {
      position: absolute;
      z-index: 10;

      width: 60px;
      height: 60px;

      content: "";
    }
  }

  .workout-card__route {
    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 8px 0;
    margin: 8px 0;

    font-size: 24px;
    font-weight: 300;
  }

  .workout-card__route::after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 10px;

    display: block;
    width: 2px;
    height: 100%;

    background-color: var(--border-color);

    content: "";
  }

  .route__point {
    position: relative;

    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 32px;

    color: var(--header-font-color);
  }

  .route__point::before {
    position: absolute;
    z-index: 10;
    top: calc(50% - 3px);
    left: 8px;

    display: block;
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: var(--icon-color);

    content: "";
  }

  .route__point-name {
    max-width: 220px;

    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
  }

  mat-card-content {
    margin-top: auto;
    margin-bottom: 24px;
  }

  dl {
    margin-bottom: 24px;
  }

  .workout-card__dl-inner {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    font-size: 16px;
  }

  dt {
    display: flex;
    align-items: center;
    margin-right: 8px;

    font-weight: 500;

    color: var(--header-font-color);

    mat-icon {
      margin-right: 8px;
      color: var(--icon-color);
    }
  }

  dd {
    margin-left: 0;

    font-weight: 300;
  }

  .workout-card__icon {
    color: var(--icon-color);
  }

  .workout-card__members {
    display: flex;
    align-items: center;
  }

  .workout-card__members-list {
    display: flex;
    padding-left: 0;
    margin: 0 8px 0 0;

    list-style: none;
  }

  .workout-card__members-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    border-radius: 50%;

    overflow: hidden;

    & img {
      display: block;
      width: 100%;
      height: auto;

      border-radius: 50%;
      border: 2px solid var(--white);
    }
  }

  .workout-card__members-item:not(:first-child) {
    margin-left: -8px;
  }

  .workout-card__members-text {
    font-weight: 300;
  }

  mat-card-actions {
    padding-top: 0;
  }
}

::ng-deep {
  .workout-card.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: var(--default-shadow);
  }

  .workout-card.mat-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    border-radius: 10px;
  }
}

@media (min-width: 360px) {
  .route__point-name {
    max-width: 260px;
  }
}

@media (min-width: 375px) {
  .route__point-name {
    max-width: 275px;
  }
}

@media (min-width: 768px) {
  .route__point-name {
    max-width: 280px;
  }
}

@media (min-width: 1024px) {
  .route__point-name {
    max-width: 250px;
  }
}

@media (min-width: 1366px) {
  .route__point-name {
    max-width: 260px;
  }
}
