<mat-card class="workout-card" *ngIf="workout !== null">
  <!--  <button class="workout-card__context-menu-button" mat-icon-button [matMenuTriggerFor]="menu">-->
  <!--    <mat-icon>more_vert</mat-icon>-->
  <!--  </button>-->
  <!--  <mat-menu class="workout-card__context-menu context-menu" #menu="matMenu">-->
  <!--    <button mat-menu-item [routerLink]="'edit-workout/' + workout._id">-->
  <!--      <mat-icon class="context-menu__icon">mode_edit</mat-icon>-->
  <!--      <span>Изменить</span>-->
  <!--    </button>-->
  <!--    <button mat-menu-item (click)="onDeleteButtonClick(workout._id)">-->
  <!--      <mat-icon class="context-menu__icon">delete</mat-icon>-->
  <!--      <span>Удалить</span>-->
  <!--    </button>-->
  <!--  </mat-menu>-->
  <mat-card-content>
    <app-workout-main-info
            class="workout-card__main-info"
            [isOnlyTimeShow]="isOnlyTimeShow"
            [workout]="workout"
    ></app-workout-main-info>
    <!--    <div class="workout-card__members">-->
    <!--      <mat-icon class="workout-card__members-icon">group</mat-icon>-->
    <!--      <span class="workout-card__members-text">-->
    <!--        {{ buildMemberCountString(workout.members.length) }}-->
    <!--      </span>-->
    <!--    </div>-->
  </mat-card-content>
  <mat-card-actions>
    <!--    <button mat-flat-button class="workout-card__button workout-card__button&#45;&#45;join">-->
    <!--      <mat-icon class="workout-card__icon" matTooltip="Присоединиться">person_add_alt_1</mat-icon>-->
    <!--    </button>-->
    <button mat-flat-button class="workout-card__button workout-card__button--share" matTooltip="Поделиться" (click)="onShareButtonClick(workout._id)">
      <mat-icon class="workout-card__icon">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
