::ng-deep .workout-card {
  color: var(--font-color);

  .mat-card-header {
    margin-bottom: 24px;
  }

  .mat-card-header .mat-card-title {
    margin-bottom: 0;
  }

  .workout-card__time {
    font-family: "JetBrains", monospace;
    font-weight: 700;
    font-size: 24px;
    color: var(--header-font-color);
  }

  mat-card-title {
    display: flex;
    flex-direction: column;
  }

  .title__row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }

  .workout-card__type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;

    font-size: 14px;
    font-weight: 600;
    color: var(--white);

    border-radius: 50%;

    &--rc {
      background-color: var(--recovery);
    }

    &--ed {
      background-color: var(--endurance);
    }

    &--tp {
      background-color: var(--tempo);
    }

    &--tr {
      background-color: var(--trashold);
    }

    &--vo {
      background-color: var(--vo2max);
    }

    &--an {
      background-color: var(--anaerobic);
    }
  }

  .workout-card__route {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 32px;
    grid-template-rows: 32px 32px;
    gap: 0 16px;

    font-size: 24px;
    font-weight: 300;

    .material-icons {
      font-size: 32px;
      color: var(--icon-color);
    }

    .mat-icon {
      width: 32px;
      height: 32px;
    }
  }

  .route__from,
  .route__to {
    align-self: center;
  }

  .route__to-icon {
    transform: rotate(180deg);
  }

  .workout-card__dl-inner {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    font-size: 16px;
  }

  dt {
    display: flex;
    align-items: center;
    margin-right: 8px;

    font-weight: 500;

    mat-icon {
      margin-right: 8px;
      color: var(--icon-color);
    }
  }

  dd {
    margin-left: 0;

    font-weight: 300;
  }

  .workout-card__icon {
    color: var(--icon-color);
  }
}

::ng-deep {
  .workout-card.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: var(--default-shadow);
  }

  .workout-card.mat-card {
    padding: 20px;
    border-radius: 10px;
  }
}
