<mat-card class="workout-card">
  <mat-card-header>
    <mat-card-title class="workout-card__title title">
      <div class="title__row">
        <span [className]="'workout-card__type ' + workoutType">{{ getWorkoutType(workout.workoutType) }}</span>
        <span class="workout-card__time">08:00</span>
      </div>
      <div class="workout-card__route route">
        <span class="route__from">{{ workout.routeFrom }}</span>
        <mat-icon class="route__from-icon">trending_flat</mat-icon>
        <span class="route__to">{{ workout.routeTo }}</span>
        <mat-icon class="route__to-icon">trending_flat</mat-icon>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <div class="workout-card__dl-inner">
        <dt><mat-icon>moving</mat-icon>Дистанция:</dt>
        <dd>{{ workout.distance }} км</dd>
      </div>
      <div class="workout-card__dl-inner">
        <dt><mat-icon>speed</mat-icon>Скорость:</dt>
        <dd>{{ workout.speed }} км/ч</dd>
      </div>
      <div class="workout-card__dl-inner">
        <dt><mat-icon>pedal_bike</mat-icon>Велосипед:</dt>
        <dd>{{ workout.bikeType }}</dd>
      </div>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon class="workout-card__icon">thumb_up_alt</mat-icon>
    </button>
    <button mat-button>
      <mat-icon class="workout-card__icon">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
