::ng-deep .workout-card {
  max-width: 340px;

  color: var(--font-color);

  mat-card-content {
    margin-top: auto;
    margin-bottom: 36px;
  }

  .workout-card__main-info {
    display: block;
    margin-bottom: 32px;
  }

  .workout-card__icon {
    color: var(--icon-color);
  }

  .workout-card__members {
    display: flex;
    align-items: center;
  }

  .workout-card__members-icon {
    margin-right: 8px;

    color: var(--icon-color);
  }

  .workout-card__members-text {
    font-size: 16px;
    font-weight: 300;
  }

  mat-card-actions {
    display: flex;
    padding-top: 0;
    margin: 0;
  }

  .workout-card__button {
    margin-right: 8px;
    background-color: var(--background);

    .mat-menu-item .mat-icon-no-color,
    mat-icon {
      color: var(--icon-color);
    }
  }

  .workout-card__button:last-child {
    margin-right: 0;
  }
}

::ng-deep {
  .workout-card.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: var(--default-shadow);
  }

  .workout-card.mat-card {
    position: relative;

    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    border-radius: 10px;
  }

  .workout-card.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0;
  }
}

.workout-card__menu-button {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}
