<mat-card class="workout-card">
  <mat-card-header>
    <mat-card-title class="workout-card__title title">
      <div class="title__row">
        <button
          mat-button
          [className]="'workout-card__type ' + workoutTypeCssClass"
          [title]="getWorkoutFullType(workout.workoutType)"
          (click)="onPowerZoneBadgeClick()"
        >
          {{ getWorkoutShortType(workout.workoutType) }}
        </button>
        <span class="workout-card__time">{{ getWorkoutTime(workout.date) }}</span>
      </div>
      <div class="workout-card__route route">
        <div class="route__point" *ngFor="let point of workout.routePoints">
          <span class="route__point-name">{{ point }}</span>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <div class="workout-card__dl-inner">
        <dt>
          <mat-icon>speed</mat-icon>
          Скорость:
        </dt>
        <dd>{{ workout.speed }} км/ч</dd>
      </div>
      <div class="workout-card__dl-inner">
        <dt>
          <mat-icon>moving</mat-icon>
          Дистанция:
        </dt>
        <dd>{{ workout.distance }} км</dd>
      </div>
      <div class="workout-card__dl-inner">
        <dt>
          <mat-icon>pedal_bike</mat-icon>
          Велосипед:
        </dt>
        <dd>{{ workout.bikeType }}</dd>
      </div>
    </dl>
    <div class="workout-card__members">
      <ul class="workout-card__members-list">
        <li class="workout-card__members-item">
          <img src="assets/mock-img/oleg.jpg" alt="Олег">
        </li>
        <li class="workout-card__members-item">
          <img src="assets/mock-img/ilia.jpg" alt="Олег">
        </li>
        <li class="workout-card__members-item">
          <img src="assets/mock-img/alex.jpg" alt="Олег">
        </li>
      </ul>
      <span class="workout-card__members-text">5 участников</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="workout-card__button workout-card__button--join">
      <mat-icon class="workout-card__icon" title="Присоединиться">person_add_alt_1</mat-icon>
    </button>
    <button class="workout-card__button workout-card__button--share" mat-button title="Поделиться">
      <mat-icon class="workout-card__icon">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
