::ng-deep .workout-card {
  color: var(--font-color);

  .mat-card-header {
    margin-bottom: 24px;
  }

  .mat-card-header .mat-card-title {
    margin-bottom: 0;
  }

  .workout-card__time {
    font-family: "JetBrains", monospace;
    font-weight: 700;
    font-size: 24px;
    color: var(--header-font-color);
  }

  mat-card-title {
    display: flex;
    flex-direction: column;
  }

  .title__row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .mat-card-header-text {
    width: 100%;
    margin: 0;
  }

  .workout-card__type {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: 8px;

    font-size: 14px;
    font-weight: 600;
    color: var(--white);

    border: none;
    border-radius: 50%;
    outline: none;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &--rc {
      background-color: var(--recovery);
    }

    &--ed {
      background-color: var(--endurance);
    }

    &--tp {
      background-color: var(--tempo);
    }

    &--tr {
      background-color: var(--trashold);
    }

    &--vo {
      background-color: var(--vo2max);
    }

    &--an {
      background-color: var(--anaerobic);
    }

    &::after {
      position: absolute;
      z-index: 10;

      width: 60px;
      height: 60px;

      content: "";

    }
  }

  .workout-card__route {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;

    font-size: 24px;
    font-weight: 300;
  }

  .route__point {
    position: relative;

    display: flex;
    width: 100%;
    padding: 10px 8px 10px 12px;

    color: var(--header-font-color);

    border: 2px solid var(--border-color);
    border-radius: 5px;
  }

  .route__point:not(:first-of-type)::after {
    position: absolute;
    z-index: 10;
    top: -30px;
    left: 3px;

    display: inline-block;
    width: 24px;
    height: 24px;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    color: var(--icon-color);

    content: 'south';
  }

  .route__point-name {
    max-width: 220px;

    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;

    overflow: hidden;
  }

  .workout-card__dl-inner {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    font-size: 16px;
  }

  dt {
    display: flex;
    align-items: center;
    margin-right: 8px;

    font-weight: 500;

    color: var(--header-font-color);

    mat-icon {
      margin-right: 8px;
      color: var(--icon-color);
    }
  }

  dd {
    margin-left: 0;

    font-weight: 300;
  }

  .workout-card__icon {
    color: var(--icon-color);
  }
}

::ng-deep {
  .workout-card.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: var(--default-shadow);
  }

  .workout-card.mat-card {
    padding: 20px;
    border-radius: 10px;
  }
}

@media (min-width: 360px) {
  .route__point-name {
    max-width: 260px;
  }
}

@media (min-width: 375px) {
  .route__point-name {
    max-width: 275px;
  }
}

@media (min-width: 768px) {
  .route__point-name {
    max-width: 280px;
  }
}

@media (min-width: 1024px) {
  .route__point-name {
    max-width: 250px;
  }
}

@media (min-width: 1366px) {
  .route__point-name {
    max-width: 260px;
  }
}
