.app-container {
  padding-top: 56px;
  padding-bottom: 16px;
}

.app__main-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
}

@media (min-width: 768px) {
  .app-container {
    padding-top: 64px;
    padding-bottom: 32px;
  }
}
