<div class="add-workout-container">
  <h2 class="add-workout__title">Добавить заезд</h2>
  <mat-vertical-stepper class="add-workout__stepper" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="routeFormGroup">
      <form [formGroup]="routeFormGroup">
        <ng-template matStepLabel>Маршрут</ng-template>
        <div class="add-workout__input-wrapper">
          <mat-form-field class="add-workout__route-form">
            <mat-label>Откуда</mat-label>
            <input matInput placeholder="Введите точку старта" formControlName="from" required>
          </mat-form-field>
          <mat-form-field class="add-workout__route-form">
            <mat-label>Куда</mat-label>
            <input matInput placeholder="Введите точку финиша" formControlName="to" required>
          </mat-form-field>
        </div>
        <button mat-button matStepperNext>Далее</button>
      </form>
    </mat-step>
    <mat-step [stepControl]="bikeTypeFormGroup">
      <form [formGroup]="bikeTypeFormGroup">
        <ng-template matStepLabel>Тип велосипеда</ng-template>
        <mat-radio-group class="add-workout__checkbox-wrapper" formControlName="bikeType" color="primary">
          <mat-radio-button value="any" checked>Любой</mat-radio-button>
          <mat-radio-button value="road">Шоссе</mat-radio-button>
          <mat-radio-button value="cycloCross">CX</mat-radio-button>
          <mat-radio-button value="mountainBike">MTB</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button matStepperNext>Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="detailsFormGroup" state="done">
      <form [formGroup]="detailsFormGroup">
        <ng-template matStepLabel>Характеристики заезда</ng-template>
        <div class="add-workout__input-wrapper">
          <mat-form-field>
            <mat-label>Темп, км/ч</mat-label>
            <input type="number" matInput placeholder="Введите скорость" min="0" formControlName="speed" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Дистанция, км</mat-label>
            <input type="number" matInput placeholder="Введите дистанцию" min="0" formControlName="distance" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Длительность, мин</mat-label>
            <input type="number" matInput placeholder="Введите длительность" min="0" formControlName="duration">
          </mat-form-field>
        </div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Далее</button>
      </form>
    </mat-step>
    <mat-step state="done">
      <ng-template matStepLabel>Завершение</ng-template>
      <app-workout-main-info [workout]="workout"></app-workout-main-info>
      <div>
        <button mat-button (click)="stepper.reset()">Сброс</button>
        <button mat-button class="add-workout__submit-button" (click)="onSubmit()">Сохранить</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
