<mat-card class="workout-card">
  <mat-card-content>
    <app-workout-main-info
      class="workout-card__main-info"
      [isOnlyTimeShow]="isOnlyTimeShow"
      [workout]="workout"
    ></app-workout-main-info>
    <div class="workout-card__members">
      <mat-icon class="workout-card__members-icon">group</mat-icon>
      <span class="workout-card__members-text">
        {{ buildMemberCountString(workout.members.length) }}
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="workout-card__button workout-card__button--join">
      <mat-icon class="workout-card__icon" matTooltip="Присоединиться">person_add_alt_1</mat-icon>
    </button>
    <button mat-flat-button class="workout-card__button workout-card__button--share" matTooltip="Поделиться">
      <mat-icon class="workout-card__icon">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
