<mat-card class="workout-card">
  <mat-card-content>
    <app-workout-main-info class="workout-card__main-info" [workout]="workout"></app-workout-main-info>
    <div class="workout-card__members">
      <ul class="workout-card__members-list">
        <li class="workout-card__members-item">
          <img src="/assets/mock-img/oleg.jpg" alt="Олег">
        </li>
        <li class="workout-card__members-item">
          <img src="/assets/mock-img/ilia.jpg" alt="Олег">
        </li>
        <li class="workout-card__members-item">
          <img src="/assets/mock-img/alex.jpg" alt="Олег">
        </li>
      </ul>
      <span class="workout-card__members-text">5 участников</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button class="workout-card__button workout-card__button--join">
      <mat-icon class="workout-card__icon" matTooltip="Присоединиться">person_add_alt_1</mat-icon>
    </button>
    <button mat-flat-button class="workout-card__button workout-card__button--share" matTooltip="Поделиться">
      <mat-icon class="workout-card__icon">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
