.workout-list-wrapper {
  padding: 0 16px;
}

.workout-list {
  display: grid;
  grid-gap: 16px;
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.workout-list__date {
  margin: 32px 0;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--header-font-color);
}

@media (min-width: 768px) {
  .workout-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .workout-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  .workout-list-wrapper {
    padding: 0 calc(50% - 1366px / 2);
  }

  .workout-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
