.workout-list-wrapper {
  padding: 0 16px;
}

.workout-list {
  display: grid;
  grid-gap: 16px;
  padding-left: 0;
  margin: 0;

  list-style: none;
}

h2.workout-list__date {
  position: sticky;
  top: 66px;
  z-index: 1;

  width: fit-content;
  padding: 8px 16px;
  margin: 24px auto;

  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--header-font-color);

  background-color: rgba(240, 242, 243, 0.8);
  border-radius: 20px;
}

@media (min-width: 768px) {
  .workout-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .workout-list__date {
    top: 74px;
  }
}

@media (min-width: 1024px) {
  .workout-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  .workout-list-wrapper {
    padding: 0 calc(50vw - 1366px / 2 + 16px);
  }

  .workout-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
