
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// http://mcg.mbitson.com/ - генератор цветовых схем

$my-orange: (
  50 : #ffede3,
  100 : #fed1ba,
  200 : #feb38c,
  300 : #fd955e,
  400 : #fc7e3c,
  500 : #fc6719,
  600 : #fc5f16,
  700 : #fb5412,
  800 : #fb4a0e,
  900 : #fa3908,
  A100 : #ffffff,
  A200 : #fff1ef,
  A400 : #ffc6bc,
  A700 : #ffb1a2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cycled-primary: mat-palette($mat-blue);
$cycled-accent: mat-palette($my-orange);

// The warn palette is optional (defaults to red).
$cycled-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cycled-theme: mat-light-theme((
  color: (
    primary: $cycled-primary,
    accent: $cycled-accent,
    warn: $cycled-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cycled-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "JetBrains";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url("/assets/fonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/JetBrainsMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/JetBrainsMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;

  font-family: "Adelle", sans-serif;
  font-weight: 400;

  background-color: var(--background);
}

:root {
  --white: #ffffff;
  --background: #F0F2F3;
  --font-color: #222222;
  --font-color-light: #667277;
  --header-font-color: #001C27;
  --bullet-color: #667277;
  --icon-color: rgba(0, 0, 0, 0.54);
  --border-color: #E3E6E7;

  --orange: #FC6719;
  --marine: #01B2CC;
  --blue: #0093D1;
  --light-blue: #05B5FF;
  --green: #4caf50;


  --recovery: #7F7F7F;
  --endurance: #338CFF;
  --tempo: #59BF59;
  --trashold: #FFCC3F;
  --vo2max: #FC6719;
  --anaerobic: #FF330C;

  --default-shadow: 0 3px 5px -1px rgb(34 34 34 / 16%), 0 6px 10px 0 rgb(34 34 34 / 10%), 0 1px 18px 0 rgb(34 34 34 / 8%);
}
