.main-menu-container {
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: var(--default-shadow);
}

.toolbar {
  justify-content: space-between;

  color: var(--font-color);

  background-color: white;
}

.toolbar__icon {
  color: var(--font-color);
}

.header-navigation {
  display: none;
  background-color: white;

  &--is-open {
    display: block;
  }
}

.header-navigation__list {
  display: grid;
  width: max-content;
  grid-gap: 16px;
  padding: 16px 0 32px;
  margin: 0 auto;

  list-style: none;
}

.header-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 0 16px;

  color: var(--white);
  font-size: 20px;
  line-height: 46px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;

  border-radius: 4px;
  background-color: var(--orange);
  box-shadow: var(--default-shadow);

  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--marine);
  }

  &--blue {
    background-color: var(--blue);
  }

  &--blue:hover {
    background-color: var(--light-blue);
  }
}

.main-menu-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: none;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.32);

  &--is-menu-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-menu-container {
    flex-direction: row;
  }

  .toolbar__button {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-navigation__list {
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    padding: 0 16px;
  }

  .header-navigation__link {
    width: max-content;

    font-size: 18px;
    line-height: 38px;
  }
}

@media (min-width: 1366px) {
  .main-menu-container {
    padding: 0 calc(50vw - 1366px / 2 + 16px);

    .mat-toolbar-single-row {
      padding: 0;
    }

    .header-navigation__list {
      padding: 0;
    }
  }
}
