::ng-deep .main-menu-container {
  .main-menu__logout-button {
    .mat-menu-item .mat-icon-no-color,
    mat-icon {
      color: var(--icon-color);
    }
  }
}

.main-menu-container {
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: var(--default-shadow);
}

.main-menu__link {
  display: flex;
  align-items: center;

  -webkit-tap-highlight-color: transparent;

  img {
    display: block;
  }
}

.main-menu__user-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.user-controls__email-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.user-controls__icon {
  color: var(--icon-color);

  &--user {
    margin-right: 8px;
  }
}

.toolbar {
  justify-content: space-between;

  background-color: white;
}

.toolbar__icon {
  color: var(--font-color);
}

.header-navigation {
  display: none;
  background-color: white;

  &--is-open {
    display: block;
  }
}

.header-navigation__list {
  display: grid;
  width: max-content;
  grid-gap: 16px;
  padding: 16px 0 32px;
  margin: 0 auto;

  list-style: none;
}

.header-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 0 16px;

  line-height: 46px;
  box-shadow: var(--default-shadow);
}

.main-menu-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: none;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.32);

  &--is-menu-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-menu-container {
    flex-direction: row;
  }

  .toolbar__button {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-navigation__list {
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    padding: 0 16px;
  }

  .main-menu__user-controls {
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .user-controls__email-wrapper {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .header-navigation__link {
    width: max-content;

    line-height: 38px;
  }

  .main-menu-background--is-menu-open {
    display: none;
  }
}

@media (min-width: 1366px) {
  .main-menu-container {
    padding: 0 calc(50vw - 1366px / 2 + 16px);

    .mat-toolbar-single-row {
      padding: 0;
    }

    .header-navigation__list {
      padding: 0;
    }
  }
}
